@charset "utf-8";
/* CSS Document */

.text{
	font-family:Verdana, Geneva, sans-serif; color:#FFF; font-size:9px;}
	.heading
	{
		font-family:"Comic Sans MS", cursive; color:#F00; font-size:12px;}
		.text1
		{
			
		font-family:Tahoma, Geneva, sans-serif; color:#CCC; font-size:14px;}	
		}