#menu {

	list-style: none;

	width: 1050px;

	height: 41px;

	/*background: #014464;*/

	margin-top: 0px;

	margin-right: auto;

	margin-bottom: 0px;

	margin-left: auto;

	padding: 0px;

	color:#000;

}



#menu li {

	float: left;

	display: block;

	text-align: center;

	position: relative;

	margin-right: 2px;

	margin-top: 0px;

	border: none;

	/*background-color: #F00;*/

	padding-top: 12px;

	padding-right: 4px;

	padding-bottom: 12px;

	padding-left: 4px;

	

	

}



#menu li:hover {

	color: #090;

	background-color:#69c6ba;

}



#menu li a {

	font-family:Arial, Helvetica, sans-serif;

	font-size:14px; 

	color: #000;

	display:block;

	outline:0;

	text-decoration:none;

	/*text-shadow: 1px 1px 1px #000;*/

}



#menu li:hover a {

	color:#FFF;

	

}

#menu li .drop {

	padding-right:20px;

	/*background:url("../images/drop.png") no-repeat right 5px;*/

}

#menu li:hover .drop {

	background:url("../images/drop.png") no-repeat right 5px;

}



.dropdown_1column, 

.dropdown_2columns, 

.dropdown_3columns, 

.dropdown_4columns,

.dropdown_5columns {

	margin-top: 12px;

	float: left;

	position: absolute;

	left: -999em; /* Hides the drop down */

	text-align: left;

	border: 1px solid #cdcbcb;

	margin-left: 1px;

	-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.71);

	-moz-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.71);

	box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.71);

	border-radius: 0px 0px 20px 20px;

	background-image: url(../images/bg_menu.png);

	background-repeat: repeat-x;

	background-position: left bottom;

	padding-top: 10px;

	padding-right: 5px;

	padding-bottom: 20px;

	padding-left: 5px;

	background-color:#FFF;

}



.dropdown_1column {width: 135px;}

.dropdown_2columns {width: 280px;}

.dropdown_3columns {width: 420px;}

.dropdown_4columns {width: 560px;}

.dropdown_5columns {width: 600px;}



#menu li:hover .dropdown_1column, 

#menu li:hover .dropdown_2columns, 

#menu li:hover .dropdown_3columns,

#menu li:hover .dropdown_4columns,

#menu li:hover .dropdown_5columns {

	left:-1px;

	top:auto;

	z-index:555 !important;

	

}



.col_1,

.col_2,

.col_3,

.col_4,

.col_5 {

	display:inline;

	float: left;

	position: relative;

	margin-left: 0px;

	margin-right:15px;

}

.col_1 {

	width: 200px;

}

.col_2 {width:270px;}

.col_3 {width:410px;}

.col_4 {width:550px;}

.col_5 {width:690px;}



#menu .menu_right {

	float:right;

	margin-right:0px;

}

#menu li .align_right {

	/* Rounded Corners */

	-moz-border-radius: 5px 0px 5px 5px;

    -webkit-border-radius: 5px 0px 5px 5px;

    border-radius: 5px 0px 5px 5px;*/

}



#menu li:hover .align_right {

	left:auto;

	right:-1px;

	top:auto;

}







#menu h3 {

	font-size: 14px;

	margin: 0px;

	padding: 5px;

	background-color: #d6efec;



}

#menu h3 a{

	color:#000 !important;

	font-weight: bold;

	text-decoration: none;

	font-size:12px !important;

	border: 0px none #0F6 !important;

}





#menu li:hover div a {

	font-size: 12px;

	color: #015b86;

	padding-top: 3px;

	padding-right: 5px;

	padding-bottom: 3px;

	padding-left: 0px;

	border-bottom-width: 1px;

	border-bottom-style: solid;

	border-bottom-color: #d6efec;

	

	

}

#menu li:hover div a:hover {

	color:#000;

}

#menu li ul {

	list-style:none;

	padding:0;

	margin:0 0 12px 0;

}

#menu li ul li {

	font-size: 12px;

	position: relative;

	padding: 0px;

	float: none;

	text-align: left;

	width: 195px;

	margin-left:5px;

	

	margin-top: 0px;

	margin-right: 0px;

	margin-bottom: 1px;



}

	

#menu li ul li ul li a{

	font-size: 12px;

	position: relative;

	padding: 0px;

	float: none;

	text-align: left;

	width: 185px;

	margin-top: 0px;

	margin-right: 0px;

	margin-bottom: 1px;

	margin-left: 10px;

	color:#000 !important;

	}

	

	

	

#menu li ul li:hover {

	background:none;

	border:none;

	padding:0;

	

}

.menu_box1{	

	width:182px;

	float:left;

	margin-right:35px;

}

.menu_box2{	

	width:426px;

	float:left;

	margin-right:35px;

}





.menu_box3{	

	/*width:430px;*/

	width:240px;

	float:left;

/*	margin-right:35px;*/

}







.menu_box4{	

	width:315px;

	float:left;

/*	margin-right:35px;*/

}

.menu_box5{	

	width:249px;

	float:left;

	margin-right:35px;

}





.menu_box6{	

	width:430px;

	float:left;

	/*margin-right:35px;*/

}



.menu_box7{	

	width:430px;

	float:left;

	/*margin-right:35px;*/

}









.menu_add{

	width: 300px;

	

	background-color: #FFF;

	border: 1px solid #69c6ba;

	height: 380px;

	border-radius: 12px;

	text-align: center;

	display: table-cell;

	vertical-align: middle;

	-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.71);

	-moz-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.71);

	box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.71);	

	

}





.menu_add a{

	border-radius: 12px;

	padding:0px !important;

	margin:0px !important;	

}





.menu_add a img{

	border-radius: 12px;

	padding:0px !important;

	margin:0px !important;	

}