#accordion-container {

	font-size: 13px;

	width: 1000px;

	

}



.accordion-header {

	

	padding: 0px;

	border: 1px solid #cccccc;

	cursor: pointer;

	color: #666666;

	background-color: #f1eeee;

	margin-bottom: 7px;

	border-radius: 3px;

	color: #FFF;

	font-weight: bold;

	font-family: "myriad_pro_lightbold";

	

	background-repeat: no-repeat;

	background-position: left;

}



.active-header {

	background-repeat: no-repeat;

	background-position: right 50%;

	color: #FFF;

	background-color: #3BB1A4;

	background-image: url(../images/minse.png);

	text-transform: uppercase;

	font-size: 18px;

	font-weight: bold;

	text-decoration: none;

}



.active-header:hover {

	background-image: url(../images/minse.png) #3BB1A4;

	background-repeat: no-repeat;

	background-position: right 50%;

	color: #FFF;

	text-decoration: none;

	color: #FFF;

	font-weight: bold;

	font-family: "myriad_pro_lightbold";

}



.inactive-header {

	background-repeat: no-repeat;

	background-position: right 50%;

	color: #2b2b2b;

	font-weight: bold;

	/*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/

	background-color: #f1eeee;

	background-image: url(../images/plus.png);

	text-transform: uppercase;

		font-size: 18px;

	font-weight: bold;

	font-family: "myriad_pro_lightbold";

}



.inactive-header:hover {

	background-repeat: no-repeat;

	background-position: right 50%;

	background-color: #3BB1A4;

	background-image: url(../images/plus.png);

	color: #FFF;

	text-decoration: none;

}



.accordion-content {

	display: none;

	disabled]border: 1px solid #cccccc; 

	border-top: 0;

	margin-bottom: 10px;

	margin-top: 10px;

	

	width: 1000px !important;

	

	

}

